{% load static %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{% static 'style.css' %}">
<script src="{% static 'script.js' %}"></script>
</head>



{% block meny %}
<div class="topnav">
  <!--a class="active" href="#home">Home</a-->
  <a class="active" href="TakeALoan"><h1>Take a loan</h1></a>
  <a href="Donate">Donate</a>
  <a href="About">About</a>
  <a href="register">sign up</a>
  <a href="log in">log in</a>
  
  <a href="register">log out</a>
</div>
{% endblock  %}

{% block content %}
<div style="padding-left:16px">
  <p><img src="https://www.asks.ru/files/u3448/money-credit.jpg" Width=700></p>
  <!--h2>Top Navigation Example</h2>
  <p>Some content..</p-->
</div>
{% endblock %}


</body>
</html>